[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes.docx - Google Docs
Type=Link
URL=https://docs.google.com/document/d/10RueMqnCEnpPb-aQSCT3dcwDdZ7yaFn9/edit
Icon=text-html
Name[en_US]=Notes
